@import ./variables.sass
$font-size: 3.3rem

@font-face
    font-family: moon
    src: url("../assets/fonts/landing.woff2") format("woff2")
@font-face
    font-family: greek
    src: url("../assets/fonts/greek.woff2") format("woff2")
.index
    display: flex
    background: $bg
    height: 100vh
    margin-left: $sidenav-width
    overflow: hidden

    .intro-container
        padding: 17% 5%
        letter-spacing: 0.1rem
        font-size: $font-size
        font-family: greek
        font-weight: 200
        line-height: 120%
        color: white
        .pad-left
            padding-left: calc(#{$font-size} - 3px)
            &:nth-child(2)
                color: white

    p
        font-size: 0.8rem
        color: grey
        letter-spacing: 0.2rem
        font-weight: lighter
        line-height: 140%
    button
        margin-left: calc(#{$font-size} - 3px)
        background: none
        border: 2px solid $highlight
        color: $highlight
        padding: 8px 15px
        font-size: 1rem
        cursor: pointer
        transition: 0.2s

        &:hover
            background: $highlight
            color: $bg
    .image
        width: 50%
        display: flex
        justify-content: center
        align-items: center
        font-size: 30rem
        font-weight: 100
        letter-spacing: -10rem
        transform: rotate(-13deg)
        transition: 0.4s
        color: $accent  
        -webkit-touch-callout: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        .accent
            color: $highlight
            font-size: 33rem
        &:hover
            transform: rotate(0)

@media ( max-width: 786px)
    .index
        margin-left: 0
        flex-direction: column-reverse
        justify-content: center
        .intro-container
            font-size: calc(#{$font-size} * 0.7)
            font-size: calc(#{$font-size} / 2.3  )
            margin-top: 70px
            .pad-left
                padding-left: 20px
        p
            font-size: 0.7rem
        button
            margin-left: 20px
            font-size: 1rem
        .image
            margin-top: 55px
            font-size: 10rem
            letter-spacing: -3rem
            width: 83%
            .accent
                font-size: 10.5rem
