@import ./variables.sass
$font-size: 3rem

@font-face
    font-family: moon
    src: url("../assets/fonts/landing.woff2") format("woff2")
.index
    display: flex
    background: $bg
    min-height: 100vh
    margin-left: $sidenav-width
    color: $accent
    overflow: hidden

    .intro-container
        padding: 17% 5%
        letter-spacing: 0.5rem
        font-size: $font-size
        font-family: moon
        font-family: moon
        line-height: 120%
        font-weight: 600
        .pad-left
            padding-left: calc(#{$font-size} + 8px)
            &:nth-child(2)
                color: $highlight

    p
        font-size: 1rem
        color: grey
        letter-spacing: 0.3rem
        font-weight: 100
        line-height: 140%
    button
        margin-left: calc(#{$font-size} + 10px)
        background: none
        border: 2px solid $highlight
        color: $highlight
        padding: 8px
        font-size: 1.4rem
        cursor: pointer
        transition: 0.2s

        &:hover
            background: $highlight
            color: $bg
    .image
        width: 50%
        display: flex
        justify-content: center
        align-items: center
        font-size: 30rem
        font-weight: 100
        letter-spacing: -10rem
        transform: rotate(-13deg)
        transition: 0.4s
        -webkit-touch-callout: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        .accent
            color: $highlight
            font-size: 33rem
        &:hover
            transform: rotate(0)

@media ( max-width: 786px)
    .index
        margin-left: 0
        flex-direction: column-reverse
        .intro-container
            font-size: calc(#{$font-size} * 0.7)
            font-size: calc(#{$font-size} / 2.3  )
            .pad-left
                padding-left: 0
        p
            font-size: 0.7rem
        button
            margin-left: 0
            font-size: 1rem
        .image
            font-size: 10rem
            letter-spacing: -3rem
            width: 83%
            .accent
                font-size: 10.5rem
